<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admins/{id}(id=${existingUser.getId()})}" th:object="${existingUser}">

    <label for="name">Change name:</label>
    <input type="text" th:field="*{username}" id="name"/>
    <br/>

    <label for="password">Change password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>

    <!-- @RequestParam String[] strRoles -->
<!--    <input type="checkbox" name="strRoles" th:value="ROLE_ADMIN" th:text="ADMIN" />-->
<!--    <input type="checkbox" name="strRoles" th:value="ROLE_USER" th:text="USER" />-->
    <div th:each="role : ${allRoles}">
        <input type="checkbox" name="strRoles"
               th:value="${role.name}"
               th:text="${role.name}"/>
    </div>
    <br/>

    <!-- @RequestParam String newRole -->
    <label for="role">You can add an ADDITIONAL role:</label>
    <input type="text" name="newRole" id="role"/>
    <br/>

    <input type="submit" value="Update!"/>
</form>

</body>
</html>